
<div style="padding: 30px;">

  <h4>プライバシーポリシー</h4>

  <p>
    本アプリは広告配信を目的として利用端末の情報を自動取得し、Google Inc.へ送信する場合があります。取得する情報、利用目的、第三者への提供等については、以下の広告配信事業者のプライバシーポリシーのリンクよりご確認ください。
  
    <div>
      <b>Google Inc.</b><br />

      <a href="https://www.google.com/intl/ja/policies/technologies/ads/">https://www.google.com/intl/ja/policies/technologies/ads/</a>
    </div>

  </p>

  <p>このプライバシーポリシーについてのお問い合せは、Eメールにて下記までお願い致します。
    <div>
      <b>info@havings.me</b>
    </div>
    本アプリのバージョンアップに伴って、送信される情報、目的、送信先が変更される場合があります。変更内容などは、新バージョンのアプリに付随するアプリ・プライバシーポリシーをご参照ください。 
  </p>
</div>
