<div class="delete-timer">

  <div>
    タスク: <%= timer.name %> を削除します。
  </div>

  <div class="delete-item-button">
    <div class="sending-error">
      送信に失敗しました。時間をおいてから再度お試しください。
    </div>
    <div class="send-form mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      削除する
    </div>
  </div>

</div>
