/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery-ui/datepicker
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 *= require material
 *= require_self
 */

.header {
  overflow: visible;
  background-color: white;
}

header .material-icons {
  cursor: pointer;
}
header .material-icons.mdl-badge {
  margin-right: 0px;
}
header .mdl-badge[data-badge]:after {
  right: -10px;
  top: -8px;
  width: 18px;
  height: 18px;
}
.already-read.mdl-badge[data-badge]:after {
  display: none;
}

footer {
  margin-top: 50px;
}

body {
  margin: 0;
  background-color: #fafafa;
}
#notification_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  z-index: 9;
  display: none;
}
#notification {
  display: none;
  position: relative;
  z-index: 11;
}
#notification .balloon {
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
  top: 9px;
  right: 2px;
}
#notification .notification-content {
  position: absolute;
  top: 28px;
  right: -10px;
  width: 200px;
  max-height: 200px;
  overflow: scroll;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.5); 
  color: black;
  background-color: #fff;
}

#notification h6 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #727272;
}
#notification li {
  border-top: 1px solid #b6b6b6;
  margin: 3px;
  padding: 5px 0;
}

#notification li.unread {
  background: #C8E6C9;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  padding: 12px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  box-sizing: content-box;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

::-moz-selection {
  background-color: #6ab344;
  color: #fff;
}

::selection {
  background-color: #6ab344;
  color: #fff;
}

.search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}

.header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}


.mdl-textfield--expandable {
  width: auto;
}

.fab {
  position: absolute;
  right: 20%;
  bottom: -26px;
  z-index: 3;
  background: #64ffda !important;
  color: black !important;
}

.mobile-title {
  display: none !important;
}


.logo-image {
  height: 28px;
  width: 140px;
}


.header {
  overflow: visible;
}
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: #0D0D0D;
}
.layout-transparent {
  background: transparent;
}

  .header .material-icons {
    color: #767777 !important;
  }

  header .mdl-layout__header-row .mdl-navigation__link {
    color: #0D0D0D;
  }
  header .mdl-layout__header-row .mdl-navigation__link:hover {
    color: #999999;
  }

  .header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
  }

  .header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
  }

  .navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    justify-content: flex-end;
    width: 800px;
  }

  .search-box.is-focused ~ .navigation-container {
    opacity: 0;
    width: 100px;
  }


  .navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
  }

    .navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid #8bc34a;
    }

  .search-box {
    order: 2;
    margin-left: 16px;
    margin-right: 16px;
  }

  .more-button {
    order: 3;
  }


.drawer {
  border-right: none;
}

  .drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }

  .drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
  }

  .drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #8bc34a;
  }

  .drawer .mdl-layout-title {
    position: relative;
    background: #6ab344;
    height: 160px;
  }

    .drawer .logo-image {
      position: absolute;
      bottom: 16px;
    }

.section--center {
  max-width: 860px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-field {
  width: 100%;
}
.alert.alert-error {
  color: #E91E63;
}
.alert.alert-alert {
  color: #E91E63;
}
.alert.alert-notice {
  color: #468847;
}
.mdl-button.mdl-button-hatena {
  width: 80%;
  background: #537bce;
  color: white;
  text-transform: capitalize;
}

.mdl-button.mdl-button-instagram {
  width: 80%;
  background: #3f729b;
  color: white;
  text-transform: capitalize;
}
.mdl-button.mdl-button-twitter {
  width: 80%;
  background: #55acee;
  color: white;
  text-transform: capitalize;
}

.ribbon {
  width: 100%;
  height: 50vh;
  background-color: #3F51B5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  position: relative
}
.inner-ribbon {
  width: 100%;
  position: absolute;
  bottom: 0vh;
  color: white;
}
.ribbon-gradation {
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 50vh;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = 'transparent', endColorstr = '#000000');
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = 'transparent', endColorstr = '#000000')";
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
background-image: -moz-linear-gradient(top, transparent, #000000);
background-image: -ms-linear-gradient(top, transparent, #000000);
background-image: -o-linear-gradient(top, transparent, #000000);
background-image: -webkit-gradient(linear, center top, center bottom, from(transparent), to(#000000));
background-image: -webkit-linear-gradient(top, transparent, #000000);
background-image: linear-gradient(top, transparent, #000000);
/*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/
opacity: 0.7;
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 75);
/*-ms-filter must come before filter*/
filter: alpha(opacity = 75);
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*All filters must be placed together*/
}

.mdl-tabs a:hover {
  background: transparent;
  color: #666;
}

.tab-caption {
  height: 10px;
  margin-top: -10px;
  margin-bottom: 6px;
  font-size: 6px;
  color: #727272;
}
.mdl-tabs__panel {
  padding: 30px 0;
}
.list-content {
  margin-top: -7vh;
}






#modal-overlay{
  z-index:11;
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:120%;
  background-color:rgba(0,0,0,0.4);
}
#fab-action-form {
  position: fixed;
  width:50%;
  max-width: 800px;
  min-width: 300px;
  margin:1.5em auto 0;
  padding:10px 20px;
  border:2px solid #aaa;
  background:#fff;
  z-index:12;
  display: none;
  overflow: auto;
  padding-bottom: 25px;
}
#fab-action-form > div {
  display: none;
}
#fab-action-form .description {
  width: 100%;
}
.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content {
  z-index: 15;
}

.form-label {
  color: #727272;
}
#fab-action-form .field {
  padding: 10px 0;
}
#fab-action-form h4 {
  margin-top: 10px;
}

.input-required {
  color: #FFCDD2;
}
.validation-error, .sending-error {
  color: #FF5252;
  display: none;
}

span.twitter-typeahead input {
  outline: none;
}

span.twitter-typeahead input:focus {
  outline: none;
  border-bottom: 1px solid #3f51b5;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.field .mdl-textfield__input {
  outline: none;
}

.field .mdl-textfield__input:focus {
  outline: none;
  border-bottom: 1px solid #3f51b5;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.typeahead {
  background-color: #fff;
}


.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 400px;
  margin: 5px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
.field ul.tagit {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.field ul.tagit.onfocus {
  border-bottom: 1px solid #3f51b5;
}
.field ul.tagit li.tagit-choice {
  border-radius: none;
  -webkit-border-radius: none;
  border-bottom: 1px solid #3f51b5;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.field ul.tagit li.tagit-choice a.tagit-close:hover {
  background: #ccc;
}
.field select {
  border-bottom: 1px solid rgba(0,0,0,0.12);
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.field select:focus {
  border-bottom: 1px solid #3f51b5;
}
.field .item-count {
  width: 120px;
}
.image-list .thumbnail {
  width: 100px;
  height: 100px;
  text-align: center;
}
.image-list .thumbnail img {
  height: 100px;
}
.image-field {
  display:inline-block;
  position:relative;
  overflow:hidden;
  background:#dedede;
  color:#fff;
  line-height:30px;
  padding: 0;
  margin-right: 2px;
}
.upload-item-image {
  cursor:pointer;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
}
.image-description {
  cursor:pointer;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0px;
  text-align: center;
  line-height: 100px;
}
.existing-image .image-description {
  background: rgba(0,0,0,0.2);
  cursor: default;
  display: none;
}
.existing-image .delete-image-button {
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 5;
}
.existing-image .image-delete-flag {
  display: none;
}
.image-description.delete-thumbnail {
  height: auto;
  background: rgba(0,0,0,0.4);
  top: inherit;
  bottom: 0;
  line-height: inherit;
}
.image-description.delete-thumbnail:hover {
  background: rgba(0,0,0,0.6);;
}
.dump-item {
  padding-bottom: 20px;
}
label.check-dump-item {
  line-height: 24px;
}
div.supporting-text {
  color: #727272;
  font-size: 9px;
}

.delete-item-button {
  margin-top: 25px;
}
.delete-item-button .mdl-button {
  background: #D32F2F;
}

.calendar-wrapper {
  padding-top: 10px;
}
.field.auto-width .mdl-textfield__input {
  width: auto;
  display: inline-block;
  margin-top: -5px;
}
.edit-timer .notification {
  padding: 5px 0 15px;
}
.edit-timer .notification .next-date .date-string {
  font-weight: bold;
}
.repeating-or-not {
  margin-bottom: 10px;
}
.timer-set-button .button {
  display: inline-block;
  padding-right: 15px;
}
.done-timer > div {
  padding-bottom: 15px;
}
.done-timer .next-due-at {
  font-weight: bold;
}
.done-timer .done-timer-button .mdl-button {
  background-color:#4CAF50;
}
.delete-timer {
  padding-bottom: 15px;
}
div.progressbar.remaining-time {
  width: 100%;
  background-color: transparent;
  text-align: center;
  font-weight: bold;
}
i.favorite.already-favorite {
  color: rgb(255,64,129);
}
i.favorite.already-favorite + span {
  color: rgb(255,64,129);
}
