.fab-wrapper {
  position: fixed;
  bottom: 9%;
  right: 7%;
  z-index: 10;
}
.fab-wrapper .inner-fab-buttons .mdl-button--fab {
  background: #ddd;
}

.fab-wrapper > button i {
  -webkit-transition: -webkit-transform 0.1s linear;
          transition: transform 0.1s linear;
  -webkit-transform: translate(-12px, -12px) rotate(0deg);
      -ms-transform: translate(-12px, -12px) rotate(0deg);
          transform: translate(-12px, -12px) rotate(0deg);
}
.fab-wrapper.is-showing-options > button i {
  -webkit-transition: -webkit-transform 0.1s linear;
          transition: transform 0.1s linear;
  -webkit-transform: translate(-12px, -12px) rotate(45deg);
      -ms-transform: translate(-12px, -12px) rotate(45deg);
          transform: translate(-12px, -12px) rotate(45deg);
}
.fab-wrapper .inner-fab-buttons {
  height: 0;
}
.fab-wrapper.is-showing-options .inner-fab-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.fab-wrapper.is-showing-options-x .inner-fab-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.fab-wrapper.is-showing-options .inner-fab-buttons .action-button-wrapper {
  display: block;
  -webkit-animation-name: enter;
          animation-name: enter;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
}
.fab-wrapper.is-showing-options-x .inner-fab-buttons  .action-button-wrapper {
  /* display: block; */
  /* margin-top: -10px; */
  -webkit-animation-name: close;
          animation-name: close;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
}
.fab-wrapper.is-showing-options .inner-fab-buttons .action-button-wrapper:nth-of-type(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.fab-wrapper.is-showing-options .inner-fab-buttons .action-button-wrapper:nth-of-type(2)  {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.fab-wrapper.is-showing-options .inner-fab-buttons .action-button-wrapper:nth-of-type(3)  {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.fab-wrapper.is-showing-options .inner-fab-buttons .action-button-wrapper:nth-of-type(4)  {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.fab-wrapper.is-showing-options .inner-fab-buttons .action-button-wrapper:nth-of-type(5)  {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.fab-wrapper.is-showing-options .inner-fab-buttons .action-button-wrapper:nth-of-type(6)  {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.fab-wrapper.is-showing-options-x .inner-fab-buttons .action-button-wrapper:nth-of-type(1)  {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.fab-wrapper.is-showing-options-x .inner-fab-buttons .action-button-wrapper:nth-of-type(2)  {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.fab-wrapper.is-showing-options-x .inner-fab-buttons .action-button-wrapper:nth-of-type(3)  {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.fab-wrapper.is-showing-options-x .inner-fab-buttons .action-button-wrapper:nth-of-type(4)  {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.fab-wrapper.is-showing-options-x .inner-fab-buttons .action-button-wrapper:nth-of-type(5)  {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.fab-wrapper.is-showing-options-x .inner-fab-buttons .action-button-wrapper:nth-of-type(6)  {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.fab-wrapper .inner-fab-buttons {
  position: absolute;
  bottom: 100%;
  margin-bottom: 10px;
  right: 10px;
}
.fab-wrapper .inner-fab-buttons .action-button-wrapper {
/* .action-button-wrapper { */
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
@-webkit-keyframes enter {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes enter {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes close {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes close {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.fab-wrapper .tooltip {
  z-index: 999;
  background: rgba(97,97,97, 0.9);
  border-radius: 2px;
  color: #ffffff;
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  max-width: 170px;
  padding: 8px;
  margin-top: 10px;
  text-align: center;
  margin-top: 15px;
}
.action-button-wrapper {
  width: 170px;
  position: relative;
  text-align: right;
}
