// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.inner-ribbon.user-profile-wrapper {
  width: 100%;
  height: 100%;
  display: table;
}

.user-profile {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.user-profile .user-caption {
  display: inline-block;
}
.user-profile .circle {
  border: 3px solid #fff;
}
.user-profile .user-data {
  float: left;
}
.user-profile .user-data h3 {
  margin: 0;
}
.user-profile .user-data button {
  color: #b6b6b6;
}
.user-profile .user-meta-data {
  text-align: center;
  padding-top: 10px;
}
.user-profile .user-meta-data > div {
  padding: 10px 10px 0 10px;
  display: inline-block;
  font-size: 2em;
}
.user-profile .user-meta-data .meta-data-unit {
  font-size: 0.5em;
  color: #b6b6b6;
  padding-top: 3px;
}
.user-data .mdl-button {
  background: white;
}

.list-item-text .item-owner {
  color: #727272;
}

.item-image-list .image-layer.is-user-page {
  height: 80px;
}
.item-image-list .item-image-label.is-user-page {
  height: 80px;
}
.item-image-list .item-link {
  padding: 0px 10px 5px 10px;
}

.user-edit .image-list .thumbnail {
  width: 50px;
  height: 50px;
}
.user-edit .image-list .thumbnail img {
  height: 50px;
}
.user-edit .image-description {
  line-height: 50px;
}
.delete-user {
  padding-bottom: 30px;
}
.delete-user h4 {
  text-align:center
}
.delete-user p {
  padding: 15px;
}
.delete-user .mdl-button {
  background: #D32F2F;
}

.ribbon.page-guide .inner-ribbon.user-list {
  padding-bottom: 0;
}

.user-list.generic-lists .list-item-image .image-circle {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.user-list.generic-lists .list-item-image {
  width: 40px;
}

ul.list-items.user-list li {
  width: 97%;
}
.sidebar h5 {
  margin-top: 5px;
  margin-left: 15px;
}
.sidebar i {
  float: left;
}
.sidebar .popular-list.list {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
}
.sidebar .popular-list.list > div {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100px;
  margin-right: 10px;
}

