// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.welcome {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  position: relative
}
.welcome .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
}
.welcome .inner {
  position: relative;
  padding-top: 5vh;
}
.welcome .phone {
  text-align: center;

}
.welcome .phone img {
  height: 50vh;
}
.welcome .welcome-description {
  padding-top: 10vh;
  color: white;
}

.welcome .welcome-description h2 {
  margin-top: -10px;
}
.welcome .welcome-description h2 img {
  height: 50px;
}

.intro-1 {
  
}
.intro-2 {
  background: white;
  padding-top: 2vh;
}
.intro-2 h4 {
  text-align: center;
  font-weight: bold;
}
.toppage-share .share {
  margin: 0 auto;
}
.toppage-share .share h6 {
  visibility: hidden;
  margin-top: 0;
}
.mdl-grid.welcome-introduction {
  padding-top: 9vh;
  padding-bottom: 5vh;
  text-align: center;
}
.mdl-grid.welcome-introduction i {
  font-size: 70px;
  color: rgb(255,215,64);
}

.mdl-grid.welcome-introduction-images {
  padding-bottom: 5vh;
}
.mdl-grid.welcome-introduction h6, .mdl-grid.welcome-introduction-images h6 {
  margin-top: 0px;
  text-align: center;
}
.mdl-grid.welcome-introduction .intro, .mdl-grid.welcome-introduction-images .intro {
  text-align: center;
  line-height: 1.7;
  color: #999;
}
.mdl-grid.welcome-introduction-images .intro-image {
  text-align: center;
  height: 200px;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 35px;
}
.mdl-grid.welcome-introduction-images .intro-image img {
  width: 200px;
  position: relative;
  top: -60px;
}
.mdl-grid.welcome-introduction-images .intro-image img.desc1 {
  top: -126px;
}
.mdl-grid.welcome-introduction-images .intro-image img.desc2 {
  top: -74px;
}
.mdl-grid.welcome-introduction-images .intro-image img.desc3 {
  top: -52px;
}
.mdl-grid.welcome-introduction-images .intro-image img.desc4 {
  top: -75px;
}

.popular-tag-wrapper h4, .popular-list-wrapper h4 {
  padding-left: 20px;
  margin-bottom: 0px;
}
.popular-tag-wrapper .popular-list {
  width: 100%;
  padding-left: 10px;
}
.popular {
  height: 60px;
  position: relative;
  margin-bottom: 10px;
}
.popular-layer {
  background: black;
  position: absolute;
  width: 100%;
  height: 45px;
  opacity: 0.5;
  bottom: 0;
}
.popular-label {
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  bottom: 2px;
  color: white;
}
.popular img {
  height: 60px;
}

.popular-list.list {
  margin-left: 25px;
}
.popular-list.list > div {
  background-size: cover;
  background-position: center;
  float: left;
  width: 120px;
  height: 100px;
  margin-right: 10px;
}
.popular-list.list > div a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.popular-list.list > div a:visited {
  color: none;
}
.popular-list.list > div a:hover {
  background: none;
}

a {
  text-decoration: none;
  color: #8BC34A;
}
a:hover {
  color: #DCEDC8;
}

.timer-wrapper {
}

.timer-wrapper .mdl-card__supporting-text {
  width: auto;
}

.timer-wrapper h4 {
  margin: 0;
  padding: 16px;
  background: #90caf9;
}
.timer-wrapper h4 i {
  font-size: 18px;
}
.timer-meta-data {
  display: inline-block;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: -5px;
}
.timer-meta-data .set-timer {
  color: #727272;
}
.timer-meta-data .overflow-timer {
  color: #f44336;
}
.timer-wrapper .mdl-card__actions {
  padding-right: 27px;
}

.graph-wrapper {
}
.graph-wrapper h4 {
  margin: 0;
  padding: 16px;
  background: #80cbc4;
}
.graph-wrapper h4 i {
  font-size: 18px;
}

.popular-list-wrapper {
}

.popular-list-wrapper h4 {
  margin: 0;
  padding: 16px;
}
.popular-list-wrapper h4 i {
  font-size: 18px;
}

.popular-list-wrapper .mdl-card__supporting-text {
  padding: 0px;
  width: auto;
}
.popular-list-wrapper .mdl-card__actions {
  border-bottom: 1px solid #b6b6b6;
  margin-left: 15px;
  margin-right: 15px;
  width: auto;
}


.timeline-wrapper {
}

.timeline-wrapper h4 {
  margin: 0;
  padding: 16px;
}
.timeline-wrapper h4 i {
  font-size: 18px;
}

.timeline-wrapper .mdl-card__supporting-text {
  padding: 0px;
  width: auto;
}
.timeline-wrapper .mdl-card__actions {
  border-bottom: 1px solid #b6b6b6;
  margin-left: 15px;
  margin-right: 15px;
  width: auto;
}
.timeline-wrapper .timeline {
  margin-bottom: 25px;
}


.category-nav {
}
ul.list,
ul.list ul {
    list-style-type: none;
    margin:0;
    padding:0;
    margin-left: -10px;
}
ul.list ul {
    margin-left:10px; 
    position:relative;
}
ul.list ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid #ccc;
}
ul.list li  {
    margin:0;
    padding:3px 12px;
    text-decoration: none;
    font-size:13px;
    line-height:20px;
    color:#ccc;
    font-weight:normal;
    position:relative;
}
ul.list li a { 
    text-decoration: none;
    font-size:14px;
    line-height:20px;
    position:relative;
}
ul.list li a:hover,
ul.list li a:hover+ul li a {
}
ul.list ul li:before {
    content:"";
    display:block;
    width:8px;
    height:0;
    border-top:1px solid #ccc;
    position:absolute;
    top:10px;
    left: 0;
}
ul.list ul li:last-child:before {
    background: #ffffff; 
    height: auto;
    top: 10px; 
    bottom: 0;
}
div.nothing {
  padding: 15px;
  padding-bottom: 40px;
  font-size: 1.3em;
}

